In [1]:
import pandas as pd
import numpy as np
from sklearn import datasets
import scipy.stats as stats
import seaborn as sns
import matplotlib.pyplot as plt
import tensorflow as tf
from tensorflow import keras
import numpy as np
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.multioutput import MultiOutputClassifier

In [2]:

with open("mei111.csv", 'r', encoding="utf-8") as read_: #read다음에_는 의미가 없다. read랑 헷갈리지말라고 쓴 것. a 라고 해도 무방.
    text=read_.readlines()

rows=[]
for i in text[1:]:
    rows.append(list(map(int,i.split(",")[:-1]))) # 이름으로 끝나기 때문에 , 가 없다 그래서 -1로 슬라이싱 해준다.
print(i)

df=pd.DataFrame(rows)
df.columns=["sensor%d"%i for i in range(1,17)]

with open("222.csv", 'r', encoding="utf-8") as read_:
    text2=read_.readlines()
    

rows2=[]
for i in text2[1:]:
    rows2.append(list(map(int,i.split(",")[:-1])))
print(i)

with open("choi111.csv", 'r', encoding="utf-8") as read_:
    text3=read_.readlines()
    
rows9=[]
for i in text3[1:]:
    rows9.append(list(map(int,i.split(",")[:-1])))
print(i)

df2=pd.DataFrame(rows2)
df2.columns=["sensor%d"%i for i in range(1,17)]


df3=pd.DataFrame(rows9)
df3.columns=["sensor%d"%i for i in range(1,17)]

 141, 138, 134, 130, 129, 126, 124, 121, 115, 113, 111, 112, 110, 109, 106, 104,Mei
 50, 52, 57, 57, 65, 64, 69, 68, 66, 68, 69, 71, 74, 76, 78, 79,2

 50, 53, 56, 58, 64, 64, 67, 68, 65, 68, 70, 70, 73, 75, 76, 78,물방울컴퍼니 대상타자

In [3]:
df

,sensor1,sensor2,sensor3,sensor4,sensor5,sensor6,sensor7,sensor8,sensor9,sensor10,sensor11,sensor12,sensor13,sensor14,sensor15,sensor16
0,91,93,85,90,95,93,86,91,87,87,87,86,88,87,90,87
1,70,73,69,71,76,76,77,78,74,75,76,78,79,80,78,81
2,65,64,68,67,72,71,74,73,73,70,72,74,77,77,78,78
3,13,19,24,29,35,37,41,47,44,48,51,55,58,59,59,62
4,102,100,102,97,99,99,97,96,92,91,89,89,91,91,90,88
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
291,41,46,47,49,56,59,60,63,62,64,66,68,71,73,75,75
292,0,7,13,19,28,31,35,43,41,45,47,50,56,60,61,62
293,50,54,55,59,62,64,65,67,66,67,69,71,73,75,76,76
294,18,23,28,33,39,44,46,50,49,51,54,56,60,63,67,67
295,141,138,134,130,129,126,124,121,115,113,111,112,110,109,106,104

In [4]:
df = df.iloc[:120,]

In [5]:
df

,sensor1,sensor2,sensor3,sensor4,sensor5,sensor6,sensor7,sensor8,sensor9,sensor10,sensor11,sensor12,sensor13,sensor14,sensor15,sensor16
0,91,93,85,90,95,93,86,91,87,87,87,86,88,87,90,87
1,70,73,69,71,76,76,77,78,74,75,76,78,79,80,78,81
2,65,64,68,67,72,71,74,73,73,70,72,74,77,77,78,78
3,13,19,24,29,35,37,41,47,44,48,51,55,58,59,59,62
4,102,100,102,97,99,99,97,96,92,91,89,89,91,91,90,88
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,70,75,73,76,79,80,80,82,79,79,80,81,83,83,83,86
116,26,33,35,41,46,51,52,51,54,57,59,63,66,67,68,70
117,68,69,70,74,75,81,78,75,77,77,79,79,81,82,82,82
118,64,71,67,71,73,73,74,79,74,78,78,76,80,81,81,84
119,59,63,67,66,64,71,73,73,73,74,75,77,79,80,80,80

In [6]:
frames = [df,df2,df3]
df_keys = pd.concat(frames, keys = ['1','2','3'])
df_keys

       sensor1  sensor2  sensor3  sensor4  sensor5  sensor6  sensor7  sensor8  \
1 0       91.0     93.0     85.0     90.0     95.0     93.0     86.0     91.0
  1       70.0     73.0     69.0     71.0     76.0     76.0     77.0     78.0
  2       65.0     64.0     68.0     67.0     72.0     71.0     74.0     73.0
  3       13.0     19.0     24.0     29.0     35.0     37.0     41.0     47.0
  4      102.0    100.0    102.0     97.0     99.0     99.0     97.0     96.0
...        ...      ...      ...      ...      ...      ...      ...      ...
3 133     80.0     84.0     82.0     78.0     83.0     88.0     84.0     85.0
  134     52.0     53.0     54.0     57.0     62.0     64.0     65.0     67.0
  135     35.0     43.0     43.0     49.0     50.0     47.0     56.0     58.0
  136     42.0     43.0     47.0     51.0     56.0     58.0     60.0     62.0
  137     50.0     53.0     56.0     58.0     64.0     64.0     67.0     68.0

       sensor9  sensor10  sensor11  sensor12  sensor13  sensor14  sensor15  \
1 0       87.0      87.0      87.0      86.0      88.0      87.0      90.0
  1       74.0      75.0      76.0      78.0      79.0      80.0      78.0
  2       73.0      70.0      72.0      74.0      77.0      77.0      78.0
  3       44.0      48.0      51.0      55.0      58.0      59.0      59.0
  4       92.0      91.0      89.0      89.0      91.0      91.0      90.0
...        ...       ...       ...       ...       ...       ...       ...
3 133     82.0      82.0      81.0      84.0      84.0      85.0      86.0
  134     66.0      66.0      68.0      69.0      71.0      73.0      74.0
  135     57.0      63.0      61.0      62.0      67.0      68.0      69.0
  136     63.0      64.0      63.0      65.0      67.0      70.0      73.0
  137     65.0      68.0      70.0      70.0      73.0      75.0      76.0

       sensor16
1 0        87.0
  1        81.0
  2        78.0
  3        62.0
  4        88.0
...         ...
3 133      86.0
  134      76.0
  135      70.0
  136      73.0
  137      78.0

[464 rows x 16 columns]

In [7]:
df_keys[:122]

       sensor1  sensor2  sensor3  sensor4  sensor5  sensor6  sensor7  sensor8  \
1 0       91.0     93.0     85.0     90.0     95.0     93.0     86.0     91.0
  1       70.0     73.0     69.0     71.0     76.0     76.0     77.0     78.0
  2       65.0     64.0     68.0     67.0     72.0     71.0     74.0     73.0
  3       13.0     19.0     24.0     29.0     35.0     37.0     41.0     47.0
  4      102.0    100.0    102.0     97.0     99.0     99.0     97.0     96.0
...        ...      ...      ...      ...      ...      ...      ...      ...
  117     68.0     69.0     70.0     74.0     75.0     81.0     78.0     75.0
  118     64.0     71.0     67.0     71.0     73.0     73.0     74.0     79.0
  119     59.0     63.0     67.0     66.0     64.0     71.0     73.0     73.0
2 0       67.0     70.0     70.0     72.0     76.0     75.0     76.0     77.0
  1       67.0     69.0     69.0     73.0     76.0     77.0     77.0     79.0

       sensor9  sensor10  sensor11  sensor12  sensor13  sensor14  sensor15  \
1 0       87.0      87.0      87.0      86.0      88.0      87.0      90.0
  1       74.0      75.0      76.0      78.0      79.0      80.0      78.0
  2       73.0      70.0      72.0      74.0      77.0      77.0      78.0
  3       44.0      48.0      51.0      55.0      58.0      59.0      59.0
  4       92.0      91.0      89.0      89.0      91.0      91.0      90.0
...        ...       ...       ...       ...       ...       ...       ...
  117     77.0      77.0      79.0      79.0      81.0      82.0      82.0
  118     74.0      78.0      78.0      76.0      80.0      81.0      81.0
  119     73.0      74.0      75.0      77.0      79.0      80.0      80.0
2 0       75.0      77.0      76.0      77.0      81.0      81.0      82.0
  1       74.0      77.0      78.0      81.0      80.0      81.0      80.0

       sensor16
1 0        87.0
  1        81.0
  2        78.0
  3        62.0
  4        88.0
...         ...
  117      82.0
  118      84.0
  119      80.0
2 0        83.0
  1        85.0

[122 rows x 16 columns]